@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.jumbotron{
    background-color: gold;
    padding: 20px;
    text-align: center;
}

header{
    display: inline;
}

nav{
    background-color: goldenrod;
    top: 0;
    padding: 5px;
    position: sticky;
}

nav li{
    display: inline;
    margin-right: 10px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

nav li a:hover{
    font-weight: bold;
}

a{
    color: blue;
}

main{
    padding: 20px;
    overflow: auto;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
}

.content{
    float: left;
    width: 75%;
    padding: 0px 10px 10px 10px;
}

article{
    padding: 10px 20px 20px 20px;
}

.featured-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    text-align: center;
}

.etalase{
    display: flex;

    /* feature tambahan */
    width: 100%;
}

.cardbook a{
    text-decoration: none;
    font-size: 12px;
    float: right;
    margin-bottom: 0px;
}

.cardbook a:hover{
    color: goldenrod;
}

.cardbook p{
    font-size: 14px;
}

.cardbook {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
    padding: 15px;
    width: 20%;
}

aside{
    float: right;
    width: 25%;
    padding: 20px;
}

aside img{
    border-radius: 150px;
    object-position: center;
    object-fit: cover;
    height: 150px;
    margin-bottom: 10px;
}

.profil{
    text-align: center;
}

aside table{
    text-align: left;
}

aside a{
    text-decoration: none;
    color: black;
}

aside a:hover{
    color: goldenrod;
}

footer{
    padding: 20px;
    color: white;
    background-color: goldenrod;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px){
    .content,
    aside{
        width: 100%;
    }

    .etalase{
        flex-direction: column;
    }

    .cardbook{
        width: 100%;
    }

}